In [1]:
# Import Pandas.
import pandas as pd

In [2]:
# Read in vine_table CSV.
df = pd.read_csv('vine_table.csv', sep=',')
df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R1KKOXHNI8MSXU,4.0,0.0,0.0,N,Y
1,R26SP2OPDK4HT7,5.0,1.0,2.0,N,Y
2,RWQEDYAX373I1,5.0,0.0,0.0,N,Y
3,R231YI7R4GPF6J,5.0,0.0,0.0,N,Y
4,R3KO3W45DD0L1K,5.0,0.0,0.0,N,Y
...,...,...,...,...,...,...
5906328,R3638LBLGKMM2S,5.0,0.0,0.0,N,Y
5906329,RP5AEIYZM5BUW,5.0,12.0,15.0,N,Y
5906330,R3PB8K42BMNI40,3.0,0.0,0.0,N,Y
5906331,R2PK1N9NG1JM4C,5.0,0.0,0.0,N,Y
5906332,R2ORDL3TCNYNHC,4.0,0.0,0.0,N,Y

In [3]:
# Retrieve all rows where: total_votes count >= 20.
total_df = df.loc[df['total_votes'] >= 20]
total_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
211,R35PT06NWP7LDP,5.0,30.0,32.0,N,N
344,R2P76PJFUGXBHO,1.0,6.0,45.0,N,N
372,RQW4AFOG9MR4Z,5.0,51.0,52.0,N,N
406,R2SMUEBMGLAJQK,5.0,29.0,36.0,N,Y
408,R1XVIZZALU5P6J,5.0,148.0,150.0,N,Y
...,...,...,...,...,...,...
5905807,R1252ZFK9VRVQE,1.0,12.0,27.0,N,Y
5905809,R1N9TEUZSMQLPO,1.0,20.0,27.0,N,N
5905816,R1K803RRJDEZS,5.0,46.0,66.0,N,N
5905820,R5XXKPQ9XI1TX,2.0,21.0,26.0,N,N
5905823,R2S1G9Q2KERBZ9,2.0,45.0,63.0,N,N

In [4]:
# Retrieve all rows where: helpful_votes / total_votes >= 50%.
helpful_df = total_df.loc[df['helpful_votes'] / df['total_votes'] >= 0.5]
helpful_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
211,R35PT06NWP7LDP,5.0,30.0,32.0,N,N
372,RQW4AFOG9MR4Z,5.0,51.0,52.0,N,N
406,R2SMUEBMGLAJQK,5.0,29.0,36.0,N,Y
408,R1XVIZZALU5P6J,5.0,148.0,150.0,N,Y
419,R11UFMG8M2488I,4.0,23.0,26.0,N,N
...,...,...,...,...,...,...
5905511,R1A4PPQ8JLNQ0P,5.0,31.0,35.0,N,N
5905809,R1N9TEUZSMQLPO,1.0,20.0,27.0,N,N
5905816,R1K803RRJDEZS,5.0,46.0,66.0,N,N
5905820,R5XXKPQ9XI1TX,2.0,21.0,26.0,N,N
5905823,R2S1G9Q2KERBZ9,2.0,45.0,63.0,N,N

In [5]:
# Retrieve all rows where: vine == 'Y'  - (paid).
paid_df = helpful_df.loc[df['vine'] == 'Y']
paid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
50483,R6U9701C3BGO6,3.0,139.0,147.0,Y,N
50625,R1XK3ALB45D7N4,5.0,33.0,34.0,Y,N
50635,R1IZCSTLX81D6C,5.0,31.0,33.0,Y,N
50656,R2C8NC8EQLH4JF,3.0,45.0,48.0,Y,N
50890,R1JJ1YOJMOML1P,5.0,18.0,21.0,Y,N

In [6]:
# Retrieve all rows where: vine == 'Y'  - (paid).
unpaid_df = helpful_df.loc[df['vine'] == 'N']
unpaid_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
211,R35PT06NWP7LDP,5.0,30.0,32.0,N,N
372,RQW4AFOG9MR4Z,5.0,51.0,52.0,N,N
406,R2SMUEBMGLAJQK,5.0,29.0,36.0,N,Y
408,R1XVIZZALU5P6J,5.0,148.0,150.0,N,Y
419,R11UFMG8M2488I,4.0,23.0,26.0,N,N
...,...,...,...,...,...,...
5905511,R1A4PPQ8JLNQ0P,5.0,31.0,35.0,N,N
5905809,R1N9TEUZSMQLPO,1.0,20.0,27.0,N,N
5905816,R1K803RRJDEZS,5.0,46.0,66.0,N,N
5905820,R5XXKPQ9XI1TX,2.0,21.0,26.0,N,N
5905823,R2S1G9Q2KERBZ9,2.0,45.0,63.0,N,N

## Determine the total number of reviews, number of 5-star reviews, percentage of 5-star reviews for the two types of review.

In [7]:
# PAID - total number of reviews.
print(f"Total number of paid reviews reviews is {len(paid_df)}.")

Total number of paid reviews reviews is 33.

In [8]:
# PAID - total number of 5-star reviews.
print(f"Total number of paid 5-star reviews is {len(paid_df.loc[paid_df['star_rating'] == 5.0])}.")

Total number of paid 5-star reviews is 15.

In [9]:
# PAID - percentage of 5-star reviews.
print(f"The percentage of paid 5-star reviews is {(len(paid_df.loc[paid_df['star_rating'] == 5.0]) / len(paid_df)) * 100:.2f}%.")

The percentage of paid 5-star reviews is 45.45%.

In [10]:
# UNPAID - total number of reviews.
print(f"Total number of unpaid reviews reviews is {len(unpaid_df)}.")

Total number of unpaid reviews reviews is 45388.

In [11]:
# UNPAID - total number of 5-star reviews.
print(f"Total number of unpaid 5-star reviews is {len(unpaid_df.loc[unpaid_df['star_rating'] == 5.0])}.")

Total number of unpaid 5-star reviews is 23733.

In [12]:
# UNPAID - percentage of 5-star reviews.
print(f"The percentage of unpaid 5-star reviews is {(len(unpaid_df.loc[unpaid_df['star_rating'] == 5.0]) / len(unpaid_df)) * 100:.2f}%.")

The percentage of unpaid 5-star reviews is 52.29%.

## Total 5-star reviews from whole set.

In [13]:
# UNPAID - total number of reviews.
print(f"Total number of usable reviews reviews is {len(helpful_df)}.")

Total number of usable reviews reviews is 45421.

In [14]:
# UNPAID - total number of 5-star reviews.
print(f"Total number of usable 5-star reviews is {len(helpful_df.loc[helpful_df['star_rating'] == 5.0])}.")

Total number of usable 5-star reviews is 23748.

In [15]:
# UNPAID - percentage of 5-star reviews.
print(f"The percentage of usable 5-star reviews is {(len(helpful_df.loc[helpful_df['star_rating'] == 5.0]) / len(helpful_df)) * 100:.2f}%.")

The percentage of usable 5-star reviews is 52.28%.